{
  "logger_config_path": "./.configs/cnblogger.config",
  "logger": {
    "mode": "both",
    "file_dir": "./.logs",
    "file_same_day_mode": "append"
  },
  "target": {
    "type": "mysql",
    "host": "127.0.0.1",
    "port": 3306,
    "user": "root",
    "password": "",
    "password_file": "",
    "database": "test"
  }
}


