{
  "logger_config_path": "./.configs/cnblogger.config",
  "logger": {
    "mode": "both",
    "file_dir": "./.logs",
    "file_same_day_mode": "append"
  },
  "target": {
    "type": "postgres",
    "host": "127.0.0.1",
    "port": 5432,
    "user": "postgres",
    "password": "",
    "password_file": "",
    "database": "postgres",
    "sslmode": "disable"
  }
}


